html,body{
    margin:  0;
    padding: 0;
    height: 100%;
    width: 100%;
    overflow-x: hidden;
}
.navbar{
    width: auto;
}




.backgroundImg{
    position: absolute;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center center;
    overflow: hidden;

    height: 48em;
    width: 100%;
}


.heading {
    color: #f8fffd;
    font-size: 70px;


}
.main{
    position: relative;
    margin-top: 260px;
    text-align: center;
    margin-left: 150px;
}
.home{
    padding: 0;
    margin-top: -20px;
    position: relative;
    display: block;
}
.login_user{
    color: white;
    line-height: 40px;
    font-size: 1.1em;
}
.title{
    color: #fff;
    font-size: 26px;
    text-shadow: #000 0 0 7px,rgba(0,0,0,0.9) 0 0 20px;
}

.shareRecipe:hover{
    background-color: transparent;
    border-color: #2e6da4;
}
.checkRecipe{
    background-color: transparent;
    border: 2px solid #2e6da4 ;
    margin-right: 2em;
}
.checkRecipe:hover{
    background-color: #337ab7;
}
/*-----------------------------------------------*/
