* {
    margin:  0;
    padding: 0;
}




.bg{
    background-image: linear-gradient(rgba(0,0,0,.5), rgba(0,0,0,.5)),url('https://farm6.staticflickr.com/5750/21634670495_cdb4cb452c_o_d.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center center;
    height:610px;
}
.heading {
    color: #f8fffd;
    font-size: 90px;

}