.panel-image {
    position: relative;
}
.panel-image img.panel-image-preview {
    width: 100%;
    border-radius: 4px 4px 0px 0px;
}

.panel-body {
    overflow: hidden;
}


.panel-image ~ .panel-footer a {
    padding: 0px 10px;
    margin-right: 20px;
    text-decoration: none;
}
