html,body{
    margin: 0;
    padding: 0;
}


.navbar-fixed-bottom{
    margin-top: 30px;
}


.form-group, .mb{
    margin-bottom: 40px;
}
.mt{
    margin-top: 25px;
}

.recipe-row{
    border-bottom:#ccc 1px solid;
    padding-bottom:20px;
    margin-bottom:20px;
}
.tooltip.top .tooltip-inner {
    background-color: #5255c9;
}
.full{
    width: 100%;
}
.no-reviews{
    color: #90998c;
    font-weight: 900;
}

#at-nav-button{
    border: 1px solid #5cb85c;
    border-radius: 4px;
    color: #9d9d9d;
    font-weight: 600;
    background-color: transparent;
    border-color: #f8fffd;
}
#at-nav-button:hover{
    color: #e65349;
    border: 1px solid #f8fffd;
    font-weight: 900;

}
