<template name="home">
    <div class="row home">
            <div class="bg">
                <div class="main">
                    <h1 class="heading">Do you love eating?</h1>
                    <p class="title">Discover new recipes and also Share your recipes with food lovers all around the world</p>
                    <br><br>
                    <a class="btn btn-primary btn-lg shareRecipe">Share Recipes</a>
                    <a class="btn btn-primary btn-lg checkRecipe" href="/recipes">Check Recipes</a>
                </div>
            </div>
    </div>

</template>