<template name="home">

    <div class="row home">
        <img src="https://images.unsplash.com/reserve/EnF7DhHROS8OMEp2pCkx_Dufer%20food%20overhead%20hig%20res.jpg?crop=entropy&dpr=2&fit=crop&fm=jpg&h=750&ixjsv=2.1.0&ixlib=rb-0.3.5&q=50&w=1450" class="backgroundImg">

        <div class="main">
                    <h1 class="heading">Do you love eating?</h1>
                    <p class="title">Discover new recipes and also Share your recipes with food lovers all around the world</p>
                    <br><br>
                    <a class="btn btn-primary btn-lg checkRecipe" href="/recipes">Check Recipes</a>
                    <a class="btn btn-primary btn-lg shareRecipe">Share Recipes</a>
                </div>
    </div>

</template>