
<template name="show_recipe">
    <div class="container">
        <div class="row">

            <div class="col-md-8">

                {{#with FS.GetFile "recipesImages" image}}
                    <img class="img-responsive mt" src="{{url}}"/>
                {{/with}}
            </div>
            <div class="col-md-4" >
                <ul class="list-group">

                    <h3> Ingredients</h3>
                    {{#each ingredients}}
                        <li class="list-group-item">{{name}} -  {{amount}}</li>
                    {{/each}}
                </ul>

            </div>

        </div>
        <div class="row">
            <div class="col-md-8">
                <h4>{{name}}</h4>
                <p> {{description}}</p>
            </div>
        </div>

        <a href="{{pathFor 'reviews'}}" class="btn btn-primary mb">Read review</a>
        <a href="{{pathFor 'add_review'}}" class="btn btn-primary mb">Add review</a>



    </div>




</template>