<template name="show_recipe">
    <div class="container">
        <div class="row">
            <div class="col-md-8">
                <img class="img-responsive mt" src="//c2.staticflickr.com/8/7552/15825265572_45443bf42a_h.jpg">
            </div>
            <div class="col-md-4" >
                <ul class="list-group">

                    <h3> Ingredients</h3>
                    <li class="list-group-item">Cras justo odio <span>20 gram</span></li>
                    <li class="list-group-item">Dapibus ac facilisis in</li>
                    <li class="list-group-item">Morbi leo risus</li>
                    <li class="list-group-item">Porta ac consectetur ac</li>
                    <li class="list-group-item">Vestibulum at eros</li>
                </ul>

            </div>

        </div>
        <div class="row">
            <div class="col-md-8">
                <h4>Recipe</h4>
                <p> njn s djsdkj kjd jsk djk kjd kjd skjd kjs djk djks djk dkj sjkd jk djk djks jdk kjd skjd kjs djk sj
                    njn s djsdkj kjd jsk djk kjd kjd skjd kjs djk djks djk dkj sjkd jk djk djks jdk kjdnjn s djsdkj kjd jsk djk kjd kjd skjd kjs djk djks djk dkj sjkd jk djk djks jdk kjd skjd kjs djk sj
                    njn s djsdkj kjd jsk djk kjd kjd skjd kjs djk djks djk dkj sjkd jk djk djks jdk kjd skjd kjs djk sj.</p>
            </div>
        </div>

        <a href="{{pathFor 'reviews'}}" class="btn btn-primary mb">Read review</a>
        <a href="{{pathFor 'add_review'}}" class="btn btn-primary mb">Add review</a>

    </div>




</template>
