
<template name="show_recipe">
    <div class="container">
        <div class="row">

            <div class="col-md-8">

                {{#with FS.GetFile "recipesImages" image}}
                    <img class="img-responsive mt" src="{{url}}"/>
                {{/with}}
            </div>
            <div class="col-md-4" >
                <ul class="list-group">

                    <h3> Ingredients</h3>
                    {{#each ingredients}}
                        <li class="list-group-item"><span class="glyphicon glyphicon-circle-arrow-right
"></span> {{name}} .......................................  {{amount}}</li>
                    {{/each}}
                </ul>

            </div>

        </div>
        <div class="row">
            <div class="col-md-8">
                <h3>{{name}} <span class="author">(Recipe added by <strong>{{ownerName}}</strong>)</span></h3>
                <h3>Preparation</h3>
                {{ description}}
            </div>
        </div>
        <br>
        <div class="row">
            <a href="{{pathFor 'reviews'}}" class="btn btn-primary ">Read review</a>
            {{#if currentUser}}
                <a href="{{pathFor 'add_review'}}" class="btn btn-primary">Add review</a>
            {{else}}
                <a href="/sign-in" class="btn btn-success">Log In to add a Review</a>
            {{/if}}
        </div>
    </div>
</template>